* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    width: calc(100% / 2 - 4em);
    float: left;
}

.float-right {
    width: calc(100% / 2 - 4em);
    float: right;
    text-align: right;
}

.navbar {
    position: fixed;
    width: 100%;
    font-weight: bold;
    height: 5em;
    line-height: 5em;
    background-color: white;
}

#logo   {
    vertical-align: middle;
}

.navbar li{
    display: inline-block;
    padding: 0 1em;
}

li{
    list-style-type: none;
  
}

.navbar a{
    color: black;
}

a{
    text-decoration: none;
}

.btn {
    padding: 0.3em 0.8em;
    background-color: rgb(0,97,255);
    color: white;
}
.float-right .btn {
    color: white;
}
.navbar .float-left li:not(:first-child):hover {
    padding-bottom: 1px;
    border-bottom: 1px solid black;
}

.navbar .float-right li:not(:last-child):hover {
    border-bottom: 1px solid black;
}

.bg {
    background-color: rgb(180,208,231);
    height: 56em;
}

.jumbotron{
    width: 80%;
    margin: auto;
}

.main-title {
    padding-top: 1.5em; 
    font-size: 5.5em;
    padding-bottom: 0.5em;
}

.float-jt {
    float: left;
    padding: ;
}

#wd-35 {
    width: 35%;
}
#wd-65 {
    width: 65%;
}

#p-jt {
    font-size: 1.5em;
    padding-bottom: 1em;
}

#pad-btn-jt {
    padding: 2em 0 1em 0;
}

.subtitle-jt {
    padding: 2em 0 1em 0;
}

#img-jt {
    width: 100%;
}

.fa-arrow-down{
    font-size: 3em;
    padding-top: 0.7em;
}